<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码农之家</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
<noscript th:insert="~{googleTagManager :: google}"></noscript>
<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<div th:insert="~{navigation :: nav}"></div>
<div class="jumbotron" style="min-height: 300px;">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <h1>出错啦！！！</h1>
        <p th:text="${message}">服务太热啦，要不然稍等下再来试试~</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <img class="img-thumbnail" style="width: 35%;" src="/images/official-account.png">
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>