<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="aw-footer-wrap" th:fragment="foot">
    <div class="aw-footer">
            <span class="aw-footer-span">
                Copyright&nbsp;©&nbsp;2019&nbsp;码农之家&nbsp;·
                 <a href="http://www.xinnet.com/" target="_blank">
                     &nbsp;鲁ICP备19001733号-1&nbsp;
                 </a>
                ·&nbsp;服务器赞助:
                <a href="https://cloud.tencent.com/">&nbsp;腾讯云&nbsp;</a>
                ·&nbsp;All Rights Reserved Powered By
            </span>
    </div>
</div>
</body>
</html>