<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="aw-footer-wrap" th:fragment="foot">
        <div class="aw-footer">
            <span class="aw-footer-span">
                Copyright&nbsp;©&nbsp;2019&nbsp;&nbsp;ICP备000000号&nbsp;·&nbsp;服务器赞助:
                <a href="https://cloud.tencent.com/">&nbsp;腾讯云&nbsp;</a>
                ·&nbsp;网站程序:&nbsp;Spring Boot
                · All Rights Reserved Powered By
                <a href="http://www.mawen.co" target="_blank">&nbsp;码问社区&nbsp;</a>
            </span>
        </div>
    </div>
</body>
</html>