<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="aw-footer-wrap" th:fragment="foot">
    <div class="aw-footer">
            <span class="aw-footer-span">
                Copyright&nbsp;©&nbsp;2019-2020&nbsp;码农之家&nbsp;·
                 <a href="https://beian.miit.gov.cn/" target="_blank">
                     &nbsp;鲁ICP备19058687号&nbsp;
                 </a>
                ·&nbsp;服务器赞助:
                <a href="https://cn.aliyun.com/">&nbsp;阿里云&nbsp;</a>
                ·&nbsp;All Rights Reserved Powered By
            </span>
    </div>
</div>
</body>
</html>