<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="zh_CN">
<head>
    <title>码农之家 - 为代码奋斗而生</title>
    <head th:insert="~{import :: head}"></head>
</head>
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable === "true") {
            window.history.back(-2);
        }
    }
</script>
<body>
<noscript th:insert="~{googleTagManager :: google}"></noscript>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3 class="icon-title-main">
                <span class="iconfont icon-main" aria-hidden="true">&#xe7eb;</span>
                发现
            </h3>
            <hr>
            <ul class="nav nav-tabs">
                <li role="presentation" th:class="${sort == 'new' || sort == '' ? 'active':''}">
                    <a th:href="@{/(sort='new')}">最新</a>
                </li>
                <li role="presentation" th:class="${sort == 'hot30' ? 'active':''}">
                    <a th:href="@{/(sort='hot30')}">30天最热</a>
                </li>
                <li role="presentation" th:class="${sort == 'hot7' ? 'active':''}">
                    <a th:href="@{/(sort='hot7')}">7天最热</a>
                </li>
                <li role="presentation" th:class="${sort == 'hot' ? 'active':''}">
                    <a th:href="@{/(sort='hot')}">最热</a>
                </li>
                <li role="presentation" th:class="${sort == 'no' ? 'active':''}">
                    <a th:href="@{/(sort='no')}" class="red">消灭零回复</a>
                </li>
            </ul>
            <div class="media" th:each="question : ${pagination.data}">
                <div class="media-left">
                    <a th:href="@{'/userInfo/'+${question.user.id}}">
                        <img class="media-object img-rounded"
                             th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span class="auto-hidden" th:text="${question.description}"></span>
                    <br>
                    <span class="text-desc"><span th:text="${question.commentCount}"></span> 个回复 • <span
                            th:text="${question.viewCount}"></span> 次浏览 • <span
                            th:text="${#dates.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page=1,search=${search},tag=${tag},sort=${sort})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page - 1},search=${search},tag=${tag},sort=${sort})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page}? 'active': ''">
                        <a th:href="@{/(page=${page},search=${search},tag=${tag},sort=${sort})}" th:text="${page}">
                        </a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page + 1},search=${search},tag=${tag},sort=${sort})}"
                           aria-label="Next">
                            <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage},search=${search},tag=${tag},sort=${sort})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <!-- 微信号 -->
            <div th:insert="~{notice :: notice}"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side-hr">
                <hr>
            </div>
            <div th:insert="~{side :: side}"></div>
            <!-- 热门标签 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side-hr">
                <hr>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hot-tag-body">
                <div class="hot-tag-head">
                    <h4>热门标签</h4>
                </div>
                <div class="question-related" th:each="tag : ${tags}">
                    <dl class="tag-label">
                        <dd class="pull-left">
                            <p class="clearfix">
                                <span>
                                    <a class="community-tag"
                                       th:href="@{/(page=1,search=${search},tag=${tag},sort=${sort})}"
                                       th:text="${tag}">
                                    </a>
                                </span>
                            </p>
                            <p class="tag-prompt">
                                <b th:text="${tagQuestions.get(tag)}"></b>个问题,
                                <b th:text="${tagComments.get(tag)}"></b>个回复
                            </p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https'){
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else{
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body>
</html>