<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="side">
    <script type="text/javascript">
        function clickSide(label) {
            gtag('event', 'click', {
                'event_category': 'LINK',
                'event_label': label,
                'transport_type': 'SIDE'
            })
        };
    </script>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
         th:if="${#lists.size(#httpServletRequest.getServletContext().getAttribute('SIDE')) != 0}"
         th:each="ad : ${#httpServletRequest.getServletContext().getAttribute('SIDE')}">
        <a th:href="${ad.url}" th:onclick="clickSide([[${ad.title}]])"
            target="_blank">
            <img class="img-thumbnail" th:src="${ad.image}" th:alt="${ad.title}">
        </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
         th:if="${#lists.size(#httpServletRequest.getServletContext().getAttribute('SIDE')) == 0}">
        <img class="img-thumbnail" src="/community/images/AdSpaceRent.png" th:src="@{/images/AdSpaceRent.png}" th:alt="广告位出租">
    </div>
</div>
</body>
</html>